

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1:  Verdana, Geneva, Tahoma, sans-serif;
    --font2:  'Passion One', cursive;
    --font3:  'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: rgba(169, 169, 169, 0.436);
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 7vw;
}

header > p{
    padding-bottom: 50px;
}

section{
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 40px;
    font-family: var(--font3);
    font-size: 2vw;
}

section.normal{
    background-color: rgba(255, 255, 255, 0.211);
    color: white;

}

section.image{
    background-color: rgba(8, 3, 3, 0.816);
    color: white;
}

section.image > p{
    background-color: rgba(0, 0, 0, 0.327);
    display: inline-block;
    padding: 10px;
}

a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover, footer a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}