

.title{

    background-color: aquamarine;
}

.post_content{
    border-bottom: 1px solid color black;
    margin: 0px;
    margin-bottom: 10px;
}

.cor{

    background-color: aqua;
}
.redes{
   color: aqua;
}